<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="ispace.css" />
  </head>
  <body id="whitebg">
<table bgcolor="gray" width="100%" ><tr><td>


  <table bgcolor="white" width="80%" align="center" ><tr><td>

      <table bgcolor="white" id="margintable" width="60%" align="center">

        <tr>
          <td id="home" align="center" width="20">Home</td>
          <td class="firstrow" align="center" width="20">About US</td>
          <td class="firstrow" align="center" width="20">Products</td>
          <td class="firstrow" align="center" width="20">Services</td>
          <td class="firstrow" align="center" width="20">Contact</td>
        </tr>
      </table>

      <table width="80%" align="center">
        <tr>
          <td id="ispace" align="center">
            <p id="secondrowparagraph">I</p>Space
          </td>
        </tr>
      </table>

      <table  width="80%" align="center">
        <tr>
          <td width="80%" align="center">
            <img src="Photo1.jpg" width="100%" height="400" alt="" />
          </td>
        </tr>
      </table>



      <table width="80%" align="center">
        <tr>
          <td align="center">
            <input type="radio" name="1" id="" />
            <input type="radio" name="1" id="" />
            <input type="radio" name="1" id="" />
            <input type="radio" name="1" id="" />
          </td>
        </tr>
      </table>
      <table width="80%" align="center">
        <tr>
          <td width="32%" align="center" class="lorem">
            <h5 class="loremh5">LOREM IPSUM IS 1</h5>
            <img src="privacy.jpg" width="50%" alt="" />
            <p class="loremparagraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Doloremque omnis ab repellat ipsa.!
            </p>
          </td>
          <td width="10"></td>
          <td width="32%" align="center" class="lorem">
            <h5 class="loremh5">LOREM IPSUM IS 2</h5>
            <img src="privacy.jpg" width="50%" alt="" />
            <p class="loremparagraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Doloremque omnis ab repellat ipsa.!
            </p>
          </td>
          <td width="10"></td>
          <td width="32%" align="center" class="lorem">
            <h5 class="loremh5">LOREM IPSUM IS 3</h5>
            <img src="privacy.jpg" width="50%" alt="" />
            <p class="loremparagraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Doloremque omnis ab repellat ipsa.!
            </p>
          </td>
        </tr>
      </table>

      <table width="80%" align="center">
        <tr>
          <td valign="top" width="33%" align="center">
            <h4>Lorem Ipsum Simply</h4>
            <ul>
              <li>This is me</li>
              <li>this is you</li>
              <li>this is him</li>
              <li>he is him</li>
            </ul>
          </td>
          <td width="33%" valign="top" align="center">
            <h4>Lorem Ipsum Simply</h4>
            <p class="greencolor">
              The Standard Chunck of lorem ipsum dolor sit amet.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
              fugit iure magni possimus voluptates quo aperiam, minus numquam
              iste natus quae labore?
            </p>
            <p align="left" class="readmore">Read more</p>
          </td>
          <td valign="top" width="33%" align="center">
            <h4>Lorem Ipsum Simply</h4>
            <p class="greencolor">
              The Standard Chunck of lorem ipsum dolor sit amet.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              soluta est recusandae quae velit aliquid nulla laudantium
              reprehenderit tempore ad.
            </p>
            <p align="left" class="readmore">Read more</p>
          </td>
        </tr>
      </table>
      
<table width="100%"  ><tr><td>



          <table  cellspacing="0" width="80%" align="center">
            <tr>
              <td width="49%">
                <table  cellspacing="0">
                <tr>
                  <td align="center" width="15%" class="whiteandgreen" >15</td>
                  <td class="bggray" width="90%"><h4>Lorem ipsum is simply text</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos earum nemo labore explicabo? Voluptatem ab odit, praesentium incidunt dicta obcaecati dign</p>
                  </td>
                  
                </tr>
              </table> </td>
              <td width="2%"></td>

              <td width="49%"> 
                <table   >
                  <tr>
                    <td align="center" class="whiteandgreen" width="15%" >$</td>
                  <td class="bggray" width="90%"><h4>Lorem ipsum is simply text</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos earum nemo labore explicabo? Voluptatem ab odit, praesentium incidunt dicta obcaecati dign</p>
                  </td>
                </td>
                  </tr>
                </table>
               </td>
            </tr>
          </table>
        
        </td>
        </tr>
</table>

<table width="100%" align="center">
      <tr>
        <td align="center" ><h6> Design by: Mansour</h6></td>
      </tr>
    </table>
    

  </td>
</tr>
</table>


  </td>
  </tr>
  </table>
  </body>
</html>
