<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Kataklimt.css" />
    <title>Document</title>
  </head>
  <body>
    <table  class="whitebackground" width="100%" border="0"cellspacing="0" align="center"
    >
      <tr>
        <td width="50%">
          <table width="80%"  align="right">
            <tr>
              <td>
                <h2> KataKlimt</h2> 
                <p id="firstletter">Phtotgraphy</p>
              </td>
            </tr>
          </table>
         
        </td>
        <td width="50%">
          <table   width="80%">
            <tr>
              <td id="about">About</td>
              <td>Services</td>
              <td>Folio</td>
              <td>Blog</td>
              <td>Contact</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table  width="100%" align="center" cellspacing="0">
      <tr>
        <td class="graybackground" width="100%" align="center">
          <table width="80%">
            <tr>
              <td> <img src="privacy.jpg" width="100%"  alt="" /></td>
            </tr>
          </table>
         
        </td>
      </tr>
    </table>
<table class="graybackground" width="100%" > <tr> <td colspan="4">
    <table class="welcome"  width="80%" align="center" cellspacing="0">
      <tr>
        <td width="1"></td>
        <td width="19%"><h2>Welcome!</h2></td>
        <td width="80%">
          <a href="">CLick here Lorem</a> , ipsum dolor sit amet consectetur
          adipisicing elit. Dignissimos nam harum numquam rem excepturi beatae
          quaerat maxime sequi explicabo ducimus, voluptate illum sint magni
          optio minima et sunt modi natus.
        </td>
      </tr>
    </table>

    </td>
    </tr>
  </table>
  <table class="background" width="100%" >   <td colspan="4">
    <table class="background" width="80%" align="center" cellspacing="0">
      <tr>
        <td width="24%">
          <h3>Fashion</h3>
          <img src="Photo1.jpg" alt="" />
          <h4>At vero eos accusamus et iustop</h4>
          <p class="paragraph">Minus quaerat iure et in excepturi facere nesciunt.</p>
          <div>Read More</div>
        </td>

        <td width="1%"></td>

        <td width="24%">
          <h3>Nature</h3>
          <img src="Photo1.jpg" alt="" />
          <h4>At vero eos accusamus et iustop</h4>
          <p class="paragraph">Minus quaerat iure et in excepturi facere nesciunt.</p>
          <div>Read More</div>
        </td>
        <td width="1%"></td>
        <td width="24%">
          <h3>Love Story</h3>
          <img src="Photo1.jpg" alt="" />
          <h4>At vero eos accusamus et iustop</h4>
          <p class="paragraph">Minus quaerat iure et in excepturi facere nesciunt.</p>
          <div>Read More</div>
        </td>
        <td width="1%"></td>
        <td width="24%">
          <h3>Fine Art</h3>
          <img src="Photo1.jpg" alt="" />
          <h4>At vero eos accusamus et iustop</h4>
          <p class="paragraph">Minus quaerat iure et in excepturi facere nesciunt.</p>
          <div>Read More</div>
        </td>
      </tr>
    </table>
  </td>
  </tr>
</table>







    <table class="graybackground" width="100%"> <tr> <td>
<table  align="center" width="80%" cellspacing="0">
  <tr>
    <td width="50%"><h3>Shortly about me</h3> </td>
    <td width="50%"> <h3>Latest Photo Shoots</h3></td>
  </tr>
</table>


<table class="graybg"  align="center" width="80%">
  <tr>
    <td  valign="top"  width="50%">
      <table  class="graybg" align="left" width="100%" cellspacing="0" >
        <tr>  <td width="49%"><img align="center" width="100%%" src="Photo1.jpg" alt=""></td>
                    
          <td width="2%"></td>
      
          <td width="48%" >
            <table valign="top"  >
              <tr>
                <td id="loremparagraph" colspan="2"><p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illo
                  sequi nostrum error sint recusandae aliquid in.
                  <p></td>
                  </tr>
                    <tr>
                      
                      <td id="loremparagraph2" colspan="2">
                    Aperiam, eaque ipsa quae ab illo veritatis et beatae vitae dicta
                    sunt explicabo nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed.
                  </td>
                </tr>
      
                  <tr>
                    <td><ul>
                      <li>jdilasdlkja</li>
                      <li>jdilasdlkja</li>
                      <li>jdilasdlkja</li>
                      <li>jdilasdlkja</li>
                    </ul></td>
      
                    <td><ul>
                      <li>jdilasdlkja</li>
                      <li>jdilasdlkja</li>
                      <li>jdilasdlkja</li>
                      <li>jdilasdlkja</li>
                    </ul></td>
                  </tr>
              
                  
                </td>
              </tr>
            </table> 
        </td>
      
          </td>
        </tr>
      </table>
    </td>

    <td width="2%"></td>
    <td width="48%" valign="top" >
      <table width="100%" cellspacing="0" >
        <tr>

              <td width="20%" align="center" ><img width="100%"  src="Photo1.jpg" alt=""></td>
             <td width="5%"></td>
              <td align="center" width="20%"><img width="100%"  src="Photo1.jpg" alt=""></td>
              <td width="5%"></td>
              <td align="center" width="20%"><img width="100%"  src="Photo1.jpg" alt=""></td>
              <td width="5%"></td>
              <td align="center" width="20%"><img width="100%"  src="Photo1.jpg" alt=""></td>
           
            <tr>
              <td width="20%" align="center" ><img width="100%"  src="Photo1.jpg" alt=""></td>
              <td width="5%"></td>
               <td align="center" width="20%"><img width="100%"  src="Photo1.jpg" alt=""></td>
               <td width="5%"></td>
               <td align="center" width="20%"><img width="100%"  src="Photo1.jpg" alt=""></td>
               <td width="5%"></td>
               <td align="center" width="20%"><img width="100%"  src="Photo1.jpg" alt=""></td>
            </tr>
            <tr>
              <td width="20%" align="center" ><img width="100%"  src="Photo1.jpg" alt=""></td>
              <td width="5%"></td>
               <td align="center" width="20%"><img width="100%" src="Photo1.jpg" alt=""></td>
               <td width="5%"></td>
               <td align="center" width="20%"><img width="100%" src="Photo1.jpg" alt=""></td>
               <td width="5%"></td>
               <td align="center" width="20%"><img width="100%"  src="Photo1.jpg" alt=""></td>
            </tr>
      
           </table>
         
      </table>
    </td>
  </tr>
</table>

</td>
</tr>
</table>



<table  class="whitebackground" width="100%"  cellspacing="">
  <tr>
    <td width="50%">
      <table  width="80%" align="right">
        <tr>
          <td width="80%" align="left" > <h4>Copyright</h4></td>
        </tr>
      </table>
    </td>
    <td width="2%"></td>
    <td width="48%"> 
      <table align="left"  width="80%">
      <tr>
<td class="whiteandred" width="24%">Facebook</td>
<td class="whiteandred" width="24%">twitter</td>
<td class="whiteandred" width="24%">google</td>
<td class="whiteandred" width="24%">google+</td>
      </tr>
    </table>
    </td>
  </tr>
</table>


  </body>
</html>
